<html>

<head>
    <title>Bot Authentication Sample</title>
    <link rel="stylesheet" type="text/css" href="/styles/bot-auth.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/styles/msteams-16.css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="theme-light">
    <div class="instruction-text">
        There was an error authenticating with {{providerName}}. Please try again.
    </div>
</body>

</html>